html,
body {
     background-image: url(redcap_background.png);
     background-size: cover;
}

.mainwindow,
#mainwindowsub,
#center, #west {
    background-color: transparent !important;
}

#subheader {
    background-image: none !important;
}

/*--White background--*/
#dashboard_container,
#codebook-table,
.mlm-setup-container,
#comptable, /*-import data table-*/
#errortable, /*-error table by import data-*/
#this_report_description 
 {
  background: white;
}


