html,
body {
     background-image: url(redcap_background.png);
     background-size: cover;
}

.mainwindow,
#mainwindowsub,
#center, #west {
    background-color: transparent !important;
}

#subheader {
    background: transparent !important;
}

/*no background within the dashboard container*/
#dashboard_container {
  background: white;
}


